@import '../assets/colors';
@import '../assets/breakpoints';

.aboutSection {
  margin-top: 32px;
  display: flex;

  .content {
    flex: 6;
    display: flex;
    padding: 16px;

    .photoContainer {
      flex: 1;
      align-self: start;
      max-width: 160px;
      margin-right: 16px;
      padding: 8px;
      border: 1px solid $snow-white;
      border-radius: 8px;

      img {
        width: 100%;
      }
    }

    .description {
      flex: 3;
    }
  }

  @media #{$less-than-xs} {
    .content {
      flex-direction: column;

      .photo-container {
        align-self: center;
        margin-bottom: 16px;
      }
    }
  }
}
