@import '../assets/colors';

:local(.heroSection) {
  background-color: $ultra-violet-40;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    height: 400px;
    color: $snow-white;

    .description {
      flex: 2;
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      text-align: center;
    }

    .button-container {
      flex: 1;
      display: flex;
      justify-content: center;

      .button {
        align-self: start;
        margin: 8px;
        padding: 16px 24px;
        border-radius: 32px;
        border: 1px solid $snow-white;
        font-size: 1.5rem;
      }
    }
  }
}
