@import '../assets/colors';
@import '../assets/breakpoints';

:local(.projectsSection) {
  margin-top: 32px;
  display: flex;

  .content {
    flex: 6;
    padding: 16px;

    .projects-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .project-card {
        position: relative;
        max-width: 304px;
        margin: 8px;

        img {
          width: 100%;
          border-radius: 8px;
        }

        .overlay {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 98%;
          background-color: $snow-white;
          opacity: 0;
          border-radius: 8px;

          .project-name {
            font-size: 1.4rem;
          }
        }

        .overlay:hover {
          opacity: 0.75;
          transition: 0.5s ease-in-out;
        }
      }
    }
  }

  // @media #{$less-than-sm} {
  //   .project-card {
  //     width: calc(50% - 16px) !important;
  //   }
  // }
  //
  // @media #{$less-than-xs} {
  //   .project-card {
  //     width: 100% !important;
  //   }
  // }
}
