@import '../assets/breakpoints';

.sectionLayout {
  display: flex;

  .sideSpace {
    flex: 1;
  }

  .centralContent {
    flex: 6;
  }

  @media #{$less-than-xs} {
    *[hide-xs='true'] {
      display: none;
    }
  }
}
