@import './assets/colors';
@import './assets/breakpoints';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $outer-space;

  h2 {
    color: $snow-white-20;
  }

  .flex-1 {
    flex: 1;
  }
}

@media #{$less-than-xs} {
  *[hide-xs='true'] {
    display: none;
  }
}
